<footer>
    <div class="footer-container">
        <div class="company-info">
            <h4>Informations de la société</h4>
            <p>Nom de l'entreprise : Stubborn</p>
            <p>Adresse : Piccadilly Circus, London W1J 0DA, Royaume-Uni</p>
            <p>Téléphone : +33 1 23 45 67 89</p>
            <p>Email : stubborn@blabla.com</p>
        </div>
        <div class="social-links">
            <h4>Suivez-nous</h4>
            <a href="#">Facebook</a>
            <a href="#">Twitter</a>
            <a href="#">LinkedIn</a>
        </div>
    </div>
    
    <div class="copyright">
        <p>&copy; {{ "now"|date("Y") }} Stubborn. Tous droits réservés.</p>
    </div>
</footer>
