<footer>
    <div class="footer-container">
        <div class="company-info">
            <h4>Informations de la société</h4>
            <p>Nom de l'entreprise : Stubborn</p>
            <p>Adresse : Piccadilly Circus, London W1J 0DA, Royaume-Uni</p>
            <p>Téléphone : +33 1 23 45 67 89</p>
            <p>Email : stubborn@blabla.com</p>
        </div>
        <div class="social-links">
            <h4>Suivez-nous</h4>
            <a href="https://www.facebook.com/stubborn" target="_blank">Facebook</a>
            <a href="https://x.com/stubborn" target="_blank">Twitter</a>
            <a href="https://fr.linkedin.com/in/stubborn" target="_blank">Linkedin</a>
        </div>
    </div>
    
    <div class="copyright">
        <p class="color1">&copy; {{ "now"|date("Y") }} Stubborn. Tous droits réservés.</p>
    </div>
</footer>
