body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f4;
    color: #333;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

a {
    color: #333;
    font-size: 14px;
    text-decoration: none;
}

a:hover {
    color: #0056b3;
    text-decoration: underline;
}

p {
    color: #333;
    font-size: 14px;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

.color1 {
    color: #fff;
}
.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;
}

.logo {
    display: block;
    text-align: left;
    padding-left: 20px;
}

.logo-img {
    max-height: 60px;
}

.logo p {
    font-size: 18px;
    margin: 5px 0 0 0;
    font-style: italic;
    color: #333;
}

header {
    background-color: #fff;
    padding: 20px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
}

header h1 {
    font-size: 32px;
    font-weight: bold;
    margin: 0;
}

header nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header nav a {
    margin-left: 20px;
    color: #000;
    font-weight: bold;
}

header nav a:hover {
    color: #007bff;
}

header nav a.active {
    color: #007bff;
}

/* Section principale */
main {
    padding: 40px 0;
    width: 90%;
    margin: 0 auto;
}

.login-container,
.register-container {
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.login-container h2,
.register-container h2 {
    margin-bottom: 20px;
    font-size: 22px;
    font-weight: bold;
}

.login-form .form-group,
.register-form .form-group {
    margin-bottom: 15px;
    text-align: left;
}

.login-form label,
.register-form label {
    margin-bottom: 5px;
    font-size: 14px;
    color: #333;
}

.login-form input[type="text"],
.login-form input[type="password"],
.register-form input[type="text"],
.register-form input[type="password"] {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.login-form input[type="checkbox"],
.register-form input[type="checkbox"] {
    margin-right: 5px;
}

.login-form .remember-me,
.register-form .remember-me {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.login-form .btn-primary,
.register-form .btn-primary {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
}

.login-form .btn-primary:hover,
.register-form .btn-primary:hover {
    background-color: #0056b3;
}

.links-container {
    text-align: center;
    margin-top: 15px;
}

.links-container p {
    margin: 5px 0;
}

.links-container a {
    color: #007bff;
    text-decoration: none;
}

.links-container .btn-link {
    display: inline-block;
    background-color: #007bff;
    color: white;
    padding: 8px 15px;
    border-radius: 4px;
    font-size: 14px;
    text-decoration: none;
    margin-top: 10px;
}

.links-container .btn-link:hover {
    background-color: #0056b3;
}

/* Styles globaux pour le formulaire */
form {
    display: flex;
    flex-direction: column;
    width: 260px;
    max-width: 260px;
    padding: 20px;
    border-radius: 5px;
    background-color: #fff;
    text-align: left;
}

form label {
    margin-bottom: 5px;
    font-size: 14px;
    color: #333;
}

form input[type="text"],
form input[type="password"] {
    padding: 10px;
    font-size: 14px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

form input[type="text"]:focus,
form input[type="password"]:focus {
    border-color: #007bff;
    outline: none;
}

form button {
    padding: 12px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button[type="submit"] {
    padding: 12px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button[type="submit"]:hover {
    background-color: #0056b3;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.product-grid-high {
    display: flex;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;  
}

.product-card-high {
    background-color: #fff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-card-high img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 15px;
}

.product-card-high h2 {
    font-size: 18px;
    margin: 10px 0;
    color: #333;
    font-weight: bold;
}

.product-card-high p {
    font-size: 16px;
    color: #666;
    margin-bottom: 10px;
}

.product-card-high:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.product-card-high img:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

.btn-see-product {
    padding: 12px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-align: center;
    display: inline-block;
}

.btn-see-product:hover {
    background-color: #0056b3;
    color: #fff;
    text-decoration: none;
}

.product-action {
    display: flex;
    justify-content: flex-end; /* Pousse le bouton "Voir" à droite */
    align-items: center;
}

/* Mise en page générale */
.products-layout {
    display: flex;
    gap: 20px;
    padding: 20px;
    justify-content: flex-start;
    align-items: flex-start;
}

/* Section du filtre à gauche */
.filter-section {
    padding: 0;
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Stylisation du formulaire de filtre */
.filter-form {
    display: flex;
    flex-direction: column;
}

.filter-group {
    margin-bottom: 15px;
}

.filter-group label {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
}

.filter-input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}

.filter-btn {
    background-color: #007bff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    text-align: center;
}

.filter-btn:hover {
    background-color: #0056b3;
}

/* Section des produits à droite */
.products-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    width: 100%;
}

/* Grille des produits */
.product-grid {
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Card des produits */
.product-card {
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-card:hover {
    transform: translateY(-5px);
}

.product-card img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 5px;
}

.product-card h2 {
    font-size: 18px;
    margin: 10px 0;
    color: #333;
}

.product-card p {
    font-size: 16px;
    color: #666;
    margin-bottom: 10px;
}

.product-card .btn-see-product {
    display: inline-block;
    padding: 10px 15px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

.product-card .btn-see-product:hover {
    background-color: #0056b3;
}

.product-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.product-item:hover {
    transform: translateY(-5px);
}

.product-img {
    height: auto;
    border-radius: 5px;
}

.product-info {
    flex: 1;
    padding-left: 20px;
}

.product-info img {
    object-fit: contain;
    margin-bottom: 10px;
    border-radius: 5px;
}

.product-info h2 {
    font-size: 18px;
    color: #333;
    margin: 10px 0 5px 0;
}

.product-info p {
    font-size: 14px;
    color: #666;
}

.product-details {
    flex: 1;
    max-width: 400px;
    padding-left: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.product-form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.product-form label {
    font-weight: bold;
    margin-bottom: 10px;
}

.product-size-select {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
}

/* Bouton Ajouter au panier */
.btn-add-to-cart {
    padding: 12px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-add-to-cart:hover {
    background-color: #0056b3;
}

.cart-container {
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

/* Table du panier */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 30px;
}

table thead {
    background-color: #f0f0f0;
}

table th, table td {
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

table th {
    font-size: 16px;
    color: #555;
}

table td {
    font-size: 15px;
    color: #333;
}

/* Image des produits dans le panier */
table td img {
    max-width: 100px;
    border-radius: 5px;
}

/* Section total panier */
.cart-total {
    text-align: right;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
    color: #333;
}

/* Actions du panier */
.cart-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-actions .btn {
    padding: 15px 30px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
}

.cart-actions .btn-primary {
    background-color: #007bff;
    color: white;
}

.cart-actions .btn-primary:hover {
    background-color: #0056b3;
}

.cart-actions .btn-success {
    background-color: #28a745;
    color: white;
}

.cart-actions .btn-success:hover {
    background-color: #218838;
}

.cart-actions a {
    margin-right: 10px;
}

.back-home {
    margin-top: 20px;
    text-align: center;
}

.back-home .btn-secondary {
    padding: 10px 20px;
    background-color: #6c757d;
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.back-home .btn-secondary:hover {
    background-color: #5a6268;
}

.card {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.card-footer {
    margin-top: auto;
}

.separator {
    border-top: 1px solid #007bff;
    width: 100%;
    margin: 20px auto;
    max-width: 260px;
}



section.highlighted-products {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

section.highlighted-products h2 {
    margin-bottom: 20px;
}

.separator {
    border-top: 1px solid #007bff;
    width: 100%;
    margin: 20px auto;
    max-width: 260px;
}

footer {
    background-color: #fff;
    padding: 0;
    text-align: center;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    width: 90%;
    margin: 0 auto;
}

.company-info,
.social-links {
    flex: 1;
}

.company-info h4,
.social-links h4 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #333;
}

.company-info p,
.social-links a {
    font-size: 14px;
    color: #666;
}

.social-links a {
    display: block;
    margin-bottom: 5px;
    text-decoration: none;
    color: #007bff;
}

.social-links a:hover {
    color: #0056b3;
}

.copyright {
    background-color: #333;
    padding: 10px 0;
    font-size: 14px;
    color: #fff;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
}

.copyright p {
    margin: 0;
}

.company-presentation {
    background-color: #f8f8f8;
    padding: 40px 20px;
    margin-top: 40px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.company-presentation h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.company-presentation p {
    font-size: 16px;
    color: #555;
    line-height: 1.6;
    margin-bottom: 20px;
}

.btn-primary, .btn-copy {
    padding: 12px 20px;
    font-size: 14px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: block;
    width: 100%;
    box-sizing: border-box;
}  

.btn-primary:hover, .btn-copy:hover {
    background-color: #0056b3;
    color: #fff;
    text-decoration: none;
}

.register-link {
    text-align: left;
}

.link-back-home {
    margin-top: 10px;
    text-align: center;
}

.link-back-home a {
    display: inline-block;
    font-size: 16px;
    color: #007bff;
    text-decoration: none;
}

.link-back-home a:hover {
    color: #0056b3;
    text-decoration: underline;
}