{% extends 'base.html.twig' %}

{% block title %}Vérifiez votre email{% endblock %}

{% block body %}
    <h1>Vérifiez votre email</h1>
    <p>Un email de vérification a été envoyé à votre adresse. Veuillez vérifier votre boîte de réception et cliquer sur le lien pour activer votre compte.</p>
{% endblock %}
