<p>Bonjour,</p>

<p>Merci de vous être inscrit sur notre site. Pour activer votre compte, veuillez cliquer sur le lien suivant :</p>

<p><a href="{{ signedUrl }}">Vérifier mon e-mail</a></p>

<p>Ce lien expirera le {{ expiresAt }}.</p>

<p>Merci,</p>
<p>L'équipe Stubborn</p>