{% extends 'base.html.twig' %}

{% block title %}Vérification de l'email requise{% endblock %}

{% block body %}
    <div class="verify-email-notice-container">
        <h1>Merci de vous être inscrit !</h1>
        <p>
            Un email de vérification a été envoyé à votre adresse. Veuillez vérifier votre boîte de réception et cliquer sur le lien de confirmation pour activer votre compte.
        </p>
        <p>
            Si vous n'avez pas reçu l'email, vérifiez vos spams ou réessayez plus tard.
        </p>
    </div>
{% endblock %}