{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

    <section class="highlighted-products">
        <h1>Top ventes</h1>

        <div class="product-grid">
            {% for product in highlightedProducts %}
                <div class="product-card">
                    <img src="{{ asset(product.image) }}" alt="{{ product.name }}">
                    <h2>{{ product.name }}</h2>
                    <p>{{ product.price }} €</p>
                </div>
            {% endfor %}
        </div>
    </section>

    
{% endblock %}
